body {
    background-color: lightsteelblue;
    background-image: url("/static/img/background.png");
    background-size: 100vw 100vh;
}

.body-container {
    margin: 30px;
    background-color: rgba(255, 255, 255, .55);
    min-height: 60vh
}
